---
import Color from "colorjs.io";
import Panel from "../../components/Panel.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import { baseColors, schema } from "../../scripts/colors";

const labelColors = [new Color("#fff"), new Color("#000")];
const getLabelColor = (color) => {
  let maxContrast = -1;
  let maxContrastColor = null;
  for (const labelColor of labelColors) {
    const contrast = Math.abs(color.contrast(labelColor, "APCA"));
    if (contrast > maxContrast) {
      maxContrast = contrast;
      maxContrastColor = labelColor;
    }
  }
  return maxContrastColor;
};
---

<style>
  .role-list {
    margin: 3rem 0;
  }

  .role {
    margin: 1.5rem 0;
  }

  .role-name {
    margin: 0.75rem 0;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
  }

  .tone-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .tone {
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .tone-preview {
    grid-area: 1 / 1;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--color);
    box-shadow: inset 0 0 0 1px rgb(from #000 r g b / 0.1);
  }

  .tone-name {
    grid-area: 1 / 1;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--label-color);
  }
</style>

<PageLayout title="Colors">
  <Panel>
    <div class="role-list">
      {
        schema.roles.map((role) => (
          <section class="role">
            <h2 class="role-name">{role.name}</h2>
            <ul class="tone-list">
              {schema.tones.map((tone) => (
                <li class="tone">
                  <span
                    class="tone-preview"
                    style={{
                      "--color":
                        baseColors[`${role.name}-${tone.name}`].toString(),
                    }}
                  />
                  <span
                    class="tone-name"
                    style={{
                      "--label-color": getLabelColor(
                        baseColors[`${role.name}-${tone.name}`],
                      ).toString(),
                    }}
                  >
                    {tone.name}
                  </span>
                </li>
              ))}
            </ul>
          </section>
        ))
      }
    </div>
  </Panel>
</PageLayout>
