---
import Panel from "../components/Panel.astro";
import XIcon from "../components/social-icons/XIcon.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { friends } from "../scripts/friends";
import { socials } from "../scripts/socials";
---

<style>
  .social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 2rem;
    margin: -1.5rem 0 3rem;
    padding: 0;
    list-style: none;
  }

  .social-link {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    height: 1.5rem;
    margin: -0.5rem -1rem -0.5rem -0.5rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 1.25rem;
    text-decoration: none;
    color: var(--color-primary-600);
    transition:
      background-color 0.1s,
      transform 0.1s;

    @media (hover) {
      &:hover {
        background-color: rgb(from var(--color-primary-600) r g b / 0.1);
      }

      &:active {
        background-color: rgb(from var(--color-primary-600) r g b / 0.2);
        transform: scale(0.95);

        @media (prefers-reduced-motion) {
          transform: none;
        }
      }
    }
  }

  .friend-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem 1.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .friend-link {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    height: 2rem;
    margin: -0.25rem -1rem -0.25rem -0.25rem;
    padding: 0.25rem 1rem 0.25rem 0.25rem;
    border-radius: 1.25rem;
    text-decoration: none;
    color: var(--color-primary-600);
    transition:
      background-color 0.1s,
      transform 0.1s;

    @media (hover) {
      &:hover {
        background-color: rgb(from var(--color-primary-600) r g b / 0.1);
      }

      &:active {
        background-color: rgb(from var(--color-primary-600) r g b / 0.2);
        transform: scale(0.95);

        @media (prefers-reduced-motion) {
          transform: none;
        }
      }
    }
  }

  .friend-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  .disclaimer {
    margin: 1.5rem 0 0;
    font-size: 0.875rem;
    text-align: center;
    color: var(--color-neutral-400);
  }
</style>

<PageLayout>
  <ul class="social-list">
    {
      socials.map((social) => (
        <li class="social">
          <a
            class="social-link"
            href={social.link.href}
            target="_blank"
            rel="noreferrer"
          >
            <social.icon.Component class="social-icon" />
            <span class="social-name" lang={social.name.lang}>
              {social.name.label}
            </span>
          </a>
        </li>
      ))
    }
  </ul>

  <Panel title="Friends">
    <ul class="friend-list">
      {
        friends.map((friend) => (
          <li class="friend">
            <a
              class="friend-link"
              href={friend.link.href}
              target="_blank"
              rel="noreferrer"
            >
              <img class="friend-avatar" src={friend.avatar.src} alt="" />
              <span class="friend-name" lang={friend.name.lang}>
                {friend.name.label}
              </span>
            </a>
          </li>
        ))
      }
    </ul>
    <p class="disclaimer">— alphabetical order —</p>
  </Panel>
</PageLayout>
